<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>User</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <img class="userImage" src="../../../assets/images/user.jpg" alt="user image">
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <span>Jon Doe</span>
    </button>
</mat-toolbar>
  