.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
.container{
  padding: 15px;
  background-color: #f5f5f5;
}
.row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.col-sm-9{
  width:80%;
}
.col-sm-3{
  width:18%;
}

@media all and (max-width:600px) {
  html{
    font-size: 8px;
  }
.row{
  
  width: 100%;
  // flex-wrap:wrap;
}
.col-sm-9{
  width:100%;
  mat-card{
    width:100%;
    app-table{
      display: flex;
      // flex-flow: row wrap;
    }
  }
}
.col-sm-3{
  width:100%;
}
}
@media all and (max-width: 900px) {
 .row{
  display: flex;
  flex-direction: column;
  .col-sm-9,.col-sm-3{
    width: 100%;
  }
 }
}