
<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-sm-9">
            <mat-card>
                <mat-card-subtitle>
                    User List
                </mat-card-subtitle>
                <hr>
                <app-table></app-table>
            </mat-card>
        </div>
        <div class="col-sm-3">
            <mat-card>
                <mat-card-subtitle>
                    Progress
                </mat-card-subtitle>
                <hr>
                <app-progress></app-progress>
            </mat-card>
        </div>
    </div>
</div> 
 
 <!-- <mat-grid-list cols="6" rowHeight="500px" gutterSize="10px">
    <mat-grid-tile colspan="5" rowspan="1">
       <mat-card>
                <mat-card-subtitle>
                    User List
                </mat-card-subtitle>
                <hr>
                <app-table></app-table>
            </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
       <mat-card>
                <mat-card-subtitle>
                    Progress
                </mat-card-subtitle>
                <hr>
                <app-progress></app-progress>
            </mat-card>
    </mat-grid-tile>
       
</mat-grid-list>  -->